In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('charity_navigator_scraped.csv')

In [3]:
n = 0
for compensation in df['compensation_leader_compensation']:
    if df.loc[n, 'compensation_leader_compensation'] == 'None reported\\r\\n                 ':
        df.loc[n, 'compensation_leader_compensation'] = None
        n += 1
    elif df.loc[n, 'compensation_leader_compensation'] == '--\\r\\n                 ':
        df.loc[n, 'compensation_leader_compensation'] = None
        n += 1
    elif df.loc[n, 'compensation_leader_compensation'] == 'NaN':
        df.loc[n, 'compensation_leader_compensation'] = None
        n += 1
    else:
        n += 1

In [4]:
n = 0
for compensation_percent in df['compensation_leader_expense_percent']:
    if df.loc[n, 'compensation_leader_expense_percent'] == '--\\r\\n                 ':
        df.loc[n, 'compensation_leader_expense_percent'] = None
        n += 1
    else:
        n += 1

In [5]:
df['city'] = df['city'].astype(str)
n = 0
for city in df['city']:
    if '\\r\\n\\t\\t\\t' in df.loc[n, 'city']:
        df.loc[n, 'city'] = str(df.loc[n, 'city']) \
        .split('\\r\\n\\t\\t\\t')[1]
        n += 1
    elif "' " in df.loc[n, 'city']:
        df.loc[n, 'city'] = str(df.loc[n, 'city']) \
        .split("' ")[1]
        n += 1
    else:
        n+= 1

In [6]:
def strip(column):
    column = str(column).replace('$', '')
    column = str(column).replace('%', '')
    column = str(column).replace(',', '')
    return column

df['compensation_leader_compensation'] = pd.to_numeric \
(df['compensation_leader_compensation'].apply(strip), errors='coerce')
df['compensation_leader_expense_percent'] = pd.to_numeric \
(df['compensation_leader_expense_percent'].apply(strip), errors='coerce')

df['administrative_expenses'] = df['administrative_expenses'].apply(strip).astype(float)
df['excess_or_deficit_for_year'] = df['excess_or_deficit_for_year'].apply(strip).astype(float)
df['fundraising_expenses'] = df['fundraising_expenses'].apply(strip).astype(int)
df['net_assets'] = df['net_assets'].apply(strip).astype(int)
df['other_revenue'] = df['other_revenue'].apply(strip).astype(float)
df['payments_to_affiliates'] = df['payments_to_affiliates'].apply(strip).astype(int)
df['program_expenses'] = df['program_expenses'].apply(strip).astype(int)
df['total_contributions'] = df['total_contributions'].apply(strip).astype(int)

df['charity_name'] = df['charity_name'].astype(str)
df['charity_url'] = df['charity_url'].astype(str)
df['cn_advisory'] = df['cn_advisory'].astype(str)
df['compensation_leader_title'] = df['compensation_leader_title'].astype(str)
df['organization_type'] = df['organization_type'].astype(str)
df['state'] = df['state'].astype(str)

In [7]:
df['org_type'] = df['organization_type'].str.split(' : ',  expand = True)[0]
df['org_category'] = df['organization_type'].str.split(' : ',  expand = True)[1]
df['org_category'] = df['org_category'].str.split(' ,This rating represents consolidated financial data for these organizations:',  expand = True)[0]
df.drop('organization_type', axis = 1, inplace = True)

In [8]:
n = 0
for org_category in df['org_category']:
    if df.loc[n, 'org_category'][-3:] == ' , ':
        df.loc[n, 'org_category'] = df.loc[n, 'org_category'][:-3]
        n += 1
    elif df.loc[n, 'org_category'][-2:] == ', ':
        df.loc[n, 'org_category'] = df.loc[n, 'org_category'][:-2]
        n += 1
    elif df.loc[n, 'org_category'][-2:] == ' ,':
        df.loc[n, 'org_category'] = df.loc[n, 'org_category'][:-2]
        n += 1
    elif df.loc[n, 'org_category'][-1] == ' ':
        df.loc[n, 'org_category'] = df.loc[n, 'org_category'][:-1]
        n += 1
    else:
        n+= 1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 21 columns):
accountability_score                   8190 non-null float64
administrative_expenses                8190 non-null float64
charity_name                           8190 non-null object
charity_url                            8190 non-null object
city                                   8190 non-null object
cn_advisory                            8190 non-null object
compensation_leader_compensation       7290 non-null float64
compensation_leader_expense_percent    7290 non-null float64
compensation_leader_title              8190 non-null object
excess_or_deficit_for_year             8190 non-null float64
financial_score                        8190 non-null float64
fundraising_expenses                   8190 non-null int64
net_assets                             8190 non-null int64
other_revenue                          8190 non-null float64
overall_score                          8190 non-null float64
payments_to_affiliates                 8190 non-null int64
program_expenses                       8190 non-null int64
state                                  8190 non-null object
total_contributions                    8190 non-null int64
org_type                               8190 non-null object
org_category                           8190 non-null object
dtypes: float64(8), int64(5), object(8)
memory usage: 1.3+ MB

In [10]:
df.head()

,accountability_score,administrative_expenses,charity_name,charity_url,city,cn_advisory,compensation_leader_compensation,compensation_leader_expense_percent,compensation_leader_title,excess_or_deficit_for_year,...,fundraising_expenses,net_assets,other_revenue,overall_score,payments_to_affiliates,program_expenses,state,total_contributions,org_type,org_category
0,89.0,164590.0,9to5 National Association of Working Women,https://www.charitynavigator.org/index.cfm?bay...,Milwaukee,nan,53463.0,3.11,Executive Director,349718.0,...,111522,1350382,49634.0,89.75,0,1440463,WI,1999023,Human and Civil Rights,Advocacy and Education
1,86.0,1001560.0,'Aha Pūnana Leo,https://www.charitynavigator.org/index.cfm?bay...,Hilo,nan,73500.0,1.47,Executive Director,1175965.0,...,54613,14773920,382540.0,85.95,0,3912270,HI,3339358,Education,Early Childhood Programs and Services
2,85.0,93957.0,AID FOR AIDS International,https://www.charitynavigator.org/index.cfm?bay...,New York,nan,85000.0,0.99,Executive Director,-461502.0,...,248833,-770370,0.0,80.96,0,8157850,NY,8039138,International,Development and Relief Services
3,86.0,346867.0,Futures in Education,https://www.charitynavigator.org/index.cfm?bay...,Brooklyn,nan,61220.0,0.78,Acting Executive Director,1872733.0,...,384550,11460087,-81726.0,89.94,0,7018262,NY,9704138,Education,Scholarship and Financial Support
4,97.0,135195.0,Every Generation Ministries,https://www.charitynavigator.org/index.cfm?bay...,Temecula,nan,74244.0,5.41,President,-103940.0,...,87436,723772,32436.0,90.62,0,1148407,CA,1234662,Religion,Religious Activities

In [11]:
df.to_csv('charity_navigator_clean.csv')